# Some of these are ignored already by global gitignores

# Python
__pycache__/
*.py[cod]

# virtual environments / tool state
/.venv
/.idea
/.pytest_cache
/.ruff_cache
/.coverage
.env
.envrc
.env.secrets
.python-version
poetry.lock

# Ignore my input/output and dev stash directories
/_*

# Don't ignore the templates
!.env.template
!.env.secrets.template
